.Section {
    background: rgb(37, 33, 50);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
    max-width: 1000px;
    width: 90vw;
    margin: 0 auto;
    border-radius: 4px;
    margin-bottom: 40px;

    h1 {
        font-family: 'Oxygen', sans-serif;
        font-size: clamp(40px, 4vw, 22px);
        font-weight: bold;
        border-bottom: 7px rgb(77, 63, 128) solid;
        text-align: center;
        width: fit-content;
        max-width: 60%;
        margin: 0 auto;
        padding-top: 30px;
        margin-block: 30px;
    }
    p {
        font-family: 'Kanit', sans-serif;
        padding: 20px;
        font-size: 1.25em;
    }
    .Button-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 5px;
        button {
            margin: 10px;
            border: 1px red;
        }
    }
}
